@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*<span>@Html.ActionLink("Go To Comic Book", "ListOfComicBooks", "ComicBooks")</span><br />
<span>@Html.ActionLink("Go To Log In", "Index", "Login")</span><br />
<span>@Html.ActionLink("Set Permission To User", "AddPermission", "Login")</span><br />*@
